<!--<link rel="stylesheet" href="app/reports/email/filter/style.css" />-->
<div>{{kuku}}</div>
<div class="md-dialog-container">
    <md-toolbar class="sanitization-filter-toolbar" layout="row" layout-align="center center">
      <h3 id="filter-title">Filters</h3>
    </md-toolbar>

    <md-list>
      <md-list-item *ngFor="let x of sanitizationFields" layout="row" layout-align="space-between center">
        {{x.Key}}
        <md-select [(ngModel)]="sanFields[x.Key]" (change)="change($event, x.Key)" [placeholder]="false" >
          <md-option *ngFor="let i of x.Value" [value]="i">{{i}}</md-option>
        </md-select>
      </md-list-item>
      <!-- computer List -->
      <md-list-item layout="row" layout-align="space-between center">
        Computer
        <!--<md-input-container flex = "70">-->
          <md-select [(ngModel)]="computer" (change)="change($event)" placeholder="Pick a computer from the list">
            <md-option *ngFor="let computer of computerFields" [value]="computer">>
              {{computer}}
            </md-option>
          </md-select>
        <!--</md-input-container>-->
      </md-list-item>
      <div layout="row" layout-align="space-between center">
        <button md-button class="cancel-sanitization-filters" flex="50" (click)="cancelFilter()">CANCEL</button>
        <button md-button class="close-sanitization-filters" flex="50" (click)="sendFilterQuery()">FILTER</button>
      </div>
    </md-list>
</div>
<script>
 // var link = document.getElementById('getNumber');

    var minNumber = 0;
    var maxNumber = 100;
    var randomnumber = Math.floor(Math.random() * (maxNumber + 1) + minNumber);
    $('#myNumber').html(randomnumber);
  //  return false;
 // }
</script>
