<div fxLayout="column" fxFill fxLayoutAlign="center center" style="background-color: #E8EAF6">
  <md-card id="login-form" fxFlex="45">
    <form *ngIf="!isLoginInValidation" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center" name="loginform" #loginForm="ngForm">
      <md-input-container class="login-input">
        <input mdInput placeholder="Server Name" type="text" name="server" required minlength="4" maxlength="24" [(ngModel)]="server"
          #servername="ngModel">
        <div *ngIf="servername.errors && (servername.dirty || servername.touched)" class="customAlert" style="width: 90%">
          <div [hidden]="!servername.errors.required">
            Server is required
          </div>
          <div [hidden]="!servername.errors.minlength">
            Server must be at least 4 characters long.
          </div>
          <div [hidden]="!servername.errors.maxlength">
            Server cannot be more than 24 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="login-input">
        <input mdInput placeholder="Username" type="text" name="username" required minlength="4" maxlength="24" [(ngModel)]="username"
          #usernameLabel="ngModel">
        <div *ngIf="usernameLabel.errors && (usernameLabel.dirty || usernameLabel.touched)" class="customAlert" style="width: 90%">
          <div [hidden]="!usernameLabel.errors.required">
            Username is required
          </div>
          <div [hidden]="!usernameLabel.errors.minlength">
            Username must be at least 4 characters long.
          </div>
          <div [hidden]="!usernameLabel.errors.maxlength">
            Username cannot be more than 24 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="login-input">
        <input mdInput placeholder="Password" type="password" name="password" required minlength="4" maxlength="24" [(ngModel)]="password"
          #passwordLabel="ngModel">
        <div *ngIf="passwordLabel.errors && (passwordLabel.dirty || passwordLabel.touched)" class="customAlert" style="width: 90%">
          <div [hidden]="!passwordLabel.errors.required">
            Password is required
          </div>
          <div [hidden]="!passwordLabel.errors.minlength">
            Password must be at least 4 characters long.
          </div>
          <div [hidden]="!passwordLabel.errors.maxlength">
            Password cannot be more than 24 characters long.
          </div>
        </div>
      </md-input-container>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <button md-raised-button color="primary" (click)="checkLogin()" [disabled]="!loginForm.form.valid">Log In</button>
        <button md-raised-button color="accent">Forgot Password</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxFlex="90">
        <md-slide-toggle color="primary">
          Remember me!
        </md-slide-toggle>
      </div>
    </form>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoginInValidation" fxFill>
      <md-progress-circle color="primary" mode="indeterminate">
      </md-progress-circle>
    </div>
  </md-card>
</div>
